.main-tipo-servicio {
  hr {
    width: 95%;
    margin: 0px auto 8px auto;
  }
  .description {
    padding: 8px 16px;
    h3, p {
      margin: 0;
    }
  }
  gallery {
    width: 100%;
    background-color: inherit;
    border-radius: 24px;
  }
}
