.modal-container {
  h1 {
    text-align: center;
  }
  mat-dialog-content {
    img {
      width: 100%;
      margin: auto;
    }
    text-align: justify;
  }

  mat-dialog-actions {
    display: flex;
    justify-content: center;
    button {
      color: white;
    }
  }

}
