#splashScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  & img {
    width: 70%;
  }
  & div {
    display: flex;
    & mat-icon {
      margin: 0 10px;
      color: rgb(17, 83, 158);
    }
  }
}
