.register-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .box {
    margin: 24px 0px;
    padding: 16px;
    border-radius: 24px;
    // border: 1px solid #4bb0d0;
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      input {
        width: 100%;
      }
      mat-checkbox {
        margin-top: 8px;
      }
      span {
        color: #f44336;
        font-size: 75%;
        font-weight: 400;
        line-height: 1.125;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
      }
      button {
        margin-top: 16px;
      }
    }
  }
}
