.home-main {
  .banner-img {
    position: relative;
    margin: 0;
    img {
      width: 100%;
      max-height: 65vh;
    }
    .title-container {
      position: absolute;
      top: 40%;
      width: 100%;
      h1 {
        color: white;
        font-size: 3rem;
        text-align: center;
        @media (max-width: 575px) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .first-section {
    margin: 10pt auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    @media (max-width: 575px) {
      flex-direction: column;
      align-items: center;
    }
    .carousel {
      width: 65%;
      @media (max-width: 575px) {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10pt;
      }
      & img {
        width: 100%;
      }
      & .info-container {
        background-color: black;
        opacity: 0.7;
        position: absolute;
        bottom: 0;
        width: 100%;
        color: white;
        text-align: center;
        max-height: 40%;
        padding: 10pt;
        @media (max-width: 425pt) {
          font-size: 0.5rem;
        }
        & h3 {
          font-weight: bold;
          font-size: 1.2rem;
          display: inline;
          @media (max-width: 768pt) {
            font-size: 1rem;
          }
          @media (max-width: 425pt) {
            font-size: 0.7rem;
            margin: auto;
          }
        }
        & hr {
          width: 80%;
          margin: 10pt auto;
          @media (max-width: 425pt) {
            margin: 1pt auto;
          }
        }
        & p {
          font-size: 0.7rem;
          margin: auto;
          display: inline;
          @media (max-width: 425pt) {
            font-size: 0.5rem;
          }
        }
      }
    }
    & .masterplan-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-image: url('../../../assets/ejecutivos.jpg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
      width: 32%;
      @media (max-width: 575px) {
        margin-bottom: 10pt;
        width: 100%;
        max-width: 100%;
      }
      & h3 {
        font-size: 1.5rem;
        text-align: center;
        @media (max-width: 872pt) {
          font-size: 1rem;
        }
        @media (max-width: 611pt) {
          font-size: 0.9rem;
        }
      }
      a {
        margin: 5pt;
        color: white;
        @media (max-width: 679pt) {
          font-size: 0.75rem;
        }
      }
    }
  }

  .second-section {
    display: flex;
    justify-content: space-between;
    mat-card {
      max-width: 100%;
      margin: 10pt 0pt;
    }
    @media (max-width: 575px) {
      flex-direction: column;
      align-content: center;
      justify-content: center;
    }
    .sociedad {
      width: 48.5%;
      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 5pt;
      }
      mat-card-header {
        display: block !important;
        img {
          width: 100%;
        }
      }
      mat-card-content {
        p {
          text-align: center;
        }
      }
      @media (max-width: 575px) {
        margin: 10pt auto !important;
      }
    }
    .call-to-action {
      width: 48.5%;
      @media (max-width: 575px) {
        width: 100%;
        margin-bottom: 5pt;
      }
      mat-card-header {
        display: block !important;
        img {
          width: 100%;
        }
      }
      h2 {
        text-align: center;
      }
      mat-card-actions {
        display: flex;
        justify-content: center;
        button {
          color: white;
        }
      }
    }
  }

  .third-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 8px;
    @media (max-width: 575px) {
      flex-direction: column;
      align-content: center;
    }
    .box1 {
      width: 50%;
      padding: 16px;
      @media (max-width: 575px) {
        width: 100%;
      }
      h2 {
        text-align: center;
      }
      p {
        text-align: center;
      }
    }
    .box2 {
      width: 50%;
      @media (max-width: 575px) {
        width: 100%;
        padding: 16px;
      }
      img {
        width: 100%;
      }
    }
    }


  .section-four {
    h2 {
      text-align: center;
    }
    .cards {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10pt;
      @media (max-width: 575px) {
        flex-direction: column;
        align-items: center;
      }
      mat-card {
        cursor: pointer;
        width: 30%;
        @media (max-width: 575px) {
          width: 100%;
          margin-bottom: 5pt;
        }
        & img {
          width: 100%;
        }
        & h4 {
          text-align: center;
        }
      }
    }
  }
}
