footer {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  color: white !important;
  @media (max-width: 575px) {
    flex-direction: column;
    align-items: center;
  }
  & .logo {
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    @media (max-width: 575px) {
      width: 100%;
    }
    & img {
      width: 50%;
      cursor: pointer;
      @media (max-width: 450px) {
        width: 100%;
      }
    }
    & .social-icons-container {
      display: flex;
      justify-content: space-around;
      & a {
        margin: 10pt;
        & img {
          width: 100%;
        }
      }
    }
    & .copyright {
      text-align: center;
    }
  }
  & .contact-info {
    width: 48%;
    @media (max-width: 575px) {
      width: 100%;
    }
    & p {
      text-align: end;
      & strong {
        color: rgb(35, 150, 189);
      }
    }
    & mat-icon:hover {
      -webkit-animation:spin 1s linear both;
      -moz-animation:spin 1s linear both;
      animation:spin 1s linear both;
    }
    @-moz-keyframes spin {
      100% { -moz-transform: rotate(90deg); }
    }
    @-webkit-keyframes spin {
        100% { -webkit-transform: rotate(90deg); }
    }
    @keyframes spin {
        100% {
            -webkit-transform: rotate(90deg);
            transform:rotate(90deg);
        }
    }
    & div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
    form {
      display: flex;
      flex-direction: column;
      align-content: center;
      mat-form-field {
        width: 100%;
      }
      button {
        color: white;
      }
    }
  }
}
