<footer class="bgc-primary">

  <div class="contact-info">
    <p><strong class="primary-dark">¿Tenés alguna consulta?</strong> Estamos para asesorarte</p>
    <div>
      <p>+54 9 2267 531541</p> <mat-icon class="spinIcon">whatsapp</mat-icon>
    </div>
    <div>
      <p>info@dlnconstrucciones.com.ar </p> <mat-icon class="spinIcon">email</mat-icon>
    </div>
    <div>
      <p>Pinamar, Buenos Aires</p> <mat-icon class="spinIcon">place</mat-icon>
    </div>
    <form [formGroup]="formularioContacto" (submit)="send($event)">
      <mat-form-field appearance="fill">
        <mat-label>Email:</mat-label>
        <input matInput formControlName="email" placeholder="email@dominio.com">
        <mat-error *ngIf="formularioContacto.controls.email.hasError('required')">
          Este campo es requerido
        </mat-error>
        <mat-error *ngIf="formularioContacto.controls.email.hasError('pattern')">
          Asegurate de que el formato sea válido
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Dejanos tu comentario:</mat-label>
        <textarea formControlName="comentario" matInput></textarea>
        <mat-error *ngIf="formularioContacto.controls.comentario.hasError('required')">
          Este campo es requerido
        </mat-error>
      </mat-form-field>
      <button mat-raised-button [disabled]="formularioContacto.invalid" type="submit" class="bgc-primary-dark">Enviar consulta</button>
    </form>
  </div>

  <div class="logo">
    <img src="assets/logo.png" alt="" routerLink="/">
    <div class="social-icons-container">
      <a href="https://www.facebook.com/dlnconstrucciones/">
        <img src="assets/icon-facebook.png" alt="Facebook logo">
      </a>
      <a href="https://www.instagram.com/dln_construcciones/">
        <img src="assets/icon-instagram.png" alt="Instagram logo">
      </a>
    </div>
    <div class="copyright m-2">
      <p><strong class="primary-dark">@2021 DLN Construcciones</strong> todos los derechos reservados</p>
      <p>Pinamar, provincia de Buenos Aires</p>
    </div>
  </div>

</footer>
